<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>編集完了</title>
    <link rel="stylesheet" th:href="@{/css/profile/complete.css}">
</head>

<body>
<main layout:fragment="contents">
    <h2>プロフィール編集が完了しました！</h2>

    <p><a th:href="@{/profile/list}">プロフィール一覧に戻る</a></p>
    <p><a th:href="@{/profile/create}">新規作成に戻る</a></p>
</main>
</body>
</html>
