.form-ul {
  margin: 50px auto;
  padding-left: 0;
}

.form-body {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.title {
  margin: 0;
}

.error_msg {
  color: tomato;
}

.input-area {
  width: 500px;
  height: 40px;
  padding: 5px 10px;
  font-size: 1.4rem;
  border-radius: 10px;
}

.textarea {
  resize: none;
  width: 500px;
  height: 200px;
}

.btn-area {
  margin: 20px 0;
}

.btn {
  background-color: #398ed3;
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
}
