.wrapper {
    width: 600px;
    margin: 50px auto;
    font-family: sans-serif;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.form-ul {
    list-style: none;
    padding-left: 0;
}

.form-body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.title {
    width: 100px;
    font-size: 1.2rem;
    margin-right: 20px;
    color: #fff;
}

.value {
    flex: 1;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 40px;
}

.textarea {
    height: 150px;
    resize: none;
    white-space: pre-wrap;
}

.btn-area {
    display: flex;
    flex-direction: column; /* ← 縦にする */
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #398ed3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    width: 100px; /* ← これで横幅統一 */
}

.value {
    flex: 1;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: rgb(0, 0, 0);
    min-height: 40px;
}
