.wrapper {
    width: 600px;
    margin: 50px auto;
    font-family: sans-serif;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.flash-msg {
    background: #398ed3;
    padding: 8px 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.form-ul {
    list-style: none;
    padding-left: 0;
}

.form-body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.title {
    width: 100px;
    font-size: 1.2rem;
    margin-right: 20px;
}

.value {
    flex: 1;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #555;
    background: #111;
    min-height: 40px;
}

.textarea {
    height: 150px;
    white-space: pre-wrap;
}

.btn-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #398ed3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    width: 100px;
}

.alert-success {
    background: #e7f1ff;
    border: 1px solid #4e77ff;
    color: #3149a3;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}
